*{
    box-sizing: border-box;
}
body{
    background-color: rgb(248, 14, 14);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0;
}
h1{
    color: #fff;
    text-decoration: underline;
}
.box{
    width: 400px;
    height: 150px;
    background-color: #fff;
    color: red;
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 7px 10px rgb(80, 80, 80);
    transform: translateX(400%);
    transition: transform 0.4s ease;
}
.box:nth-of-type(even){
    transform: translateX(-400%);
}
.box.show{
    transform: translateX(0);
}